{
  "bind_addr": "10.1.100.57",
  "client_addr": "0.0.0.0",
  "datacenter": "dc01",
  "data_dir": "/opt/consul/data",
  "log_level": "INFO",
  "node_name": "consul01",
  "server": true,
  "ui": true,
  "retry_join": [
    "10.1.100.57",
    "10.1.100.58",
    "10.1.100.59"
  ]
}
